#body {
  background: #ededed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drop-down-menu {
 width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.drop-down-item {
  font-size: 1.5rem;
}
.drop-down-toggle {
  font-size: 1.3rem;
  padding: 2px 9px;
}

.recipies-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70vh;
}
.cuisineTitle {
  padding-right: 1rem;
  font-weight: bold;
}

.filterHover:hover {
  color: rgb(202, 135, 10);
  text-decoration: none;
}

.card-image {
  background: white;
  margin: 10px;
  color: black;
  width: 180px;
  height: 290px;
}
#fav-recipes {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

#recipe-title {
  height: 7.7rem;
  font-weight: bolder;
  width: 180px;
  font-size: 2rem;
  padding: 1rem;
  line-height: 2.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#more-button {
  font-size: 1.5rem;
  font-weight: 600;
  width: 15rem;
  text-align: center;
  height: 4rem;
}
#more-button-section {
  display: flex;
  padding: 3rem 0;
  justify-content: center;
}

img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
a:hover {
  color: rgb(202, 135, 10);
  text-decoration: none;
}
#time-icon {
  text-align: end;
}
#time {
  font-size: 1.5rem;
  margin: 2px;
  margin-right: 5px;
}
i {
  font-size: 1.5rem;
  color: rgb(202, 135, 10);
}
i:hover {
  color: black;
}
