@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sulphur+Point&family=Bangers&family=Baloo+Bhai+2:wght@400;600&family=Kaushan+Script&display=swap');
ApiProvider{
    margin:0 0rem
}

.App{
    margin:0 10%;
}

.nav > * :hover {
    cursor: pointer;
}

.star :hover {
    cursor: pointer;
}

* {
    font-size: 18px;
    font-family: 'Baloo Bhai 2';
}

.logoA {
    font-family: 'Kaushan Script';
    font-weight: bold;
    font-size: 27px;
}
.logoB {
    font-family: 'Anton';
    color: #f8b652;
}
.userInfo {
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid #F94F72;
    margin-bottom: 8px;
    caret-color: #F94F72;
}
.userInfo:focus,
.bbtn:focus {
   outline: none;
}

.bbtn {
    border: 1px solid rgb(122, 170, 74);
    background: rgb(121, 187, 54);
    background-image: -moz-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: -ms-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: -o-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: -webkit-linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    background-image: linear-gradient(rgb(169, 240, 98), rgb(121, 187, 54));
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    outline: none;
}

.bbtn:hover {
    background: #F94F72;
    color: #000;
    border: 1px solid #000;
}

.navLinkBtn {
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.navLinkBtn:hover {
    color: #f8b652;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]+label {
    display : inline-block;
    margin-left : -2em;
    line-height : 1.5em;
    
}
input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid rgb(192, 192, 192);
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}
input[type=radio]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}
input[type=radio]:not(old):checked+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid rgb(115, 153, 77);
    border-radius: 0.125em;
    background: rgb(153, 204, 102);
    background-image: -moz-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -ms-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -o-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: -webkit-linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
    background-image: linear-gradient(rgb(179, 217, 140), rgb(153, 204, 102));
}


.open{
    transform: translateY(90%);
}



.CourseTitle {
    width: 550px;
}

.CourseTitle::after {
    content: '';
    display: block;
    background-color: #ededed;
    right: -60px;
    top: 0;
    transform: skewX(-45deg);
    width: 140px;
    height: 102%;
    position: absolute;
}

.mainShowMore{
    background-color: #F94F72;
    color: #fff;
    padding: 10px;
    width: fit-content;
    align-self: flex-end;
    margin: 15px;
}

.mainShowMore:hover {
    background-color: rgb(97, 8, 26);
    cursor: pointer;
}

.custom-tag {
    width: 100%;
     height: 500px;
     background: black;
     z-index: 1;
   }

@media only screen and (max-width: 600px) {

    .profileBox {
        justify-content: center;
        width: 100% !important;
    }

    .greeting {
        display: none;
    }
    .textBox {
        width: 100% !important;
    }
}

@media only screen and (max-width: 670px) {

    .CourseTitle::after {
        display: none;
    }

    .CourseTitle>div {
        display: none;
    }
   .CourseTitle {
       width: 100%
   }
}
